.idea
.vscode
.zed
upload
*.exe
*.db
build
*.db-journal
logs
web/dist
.env
web/admin_api
web/admin_api.zip
web/admin_api.zip-ssr
gravitex_llm.zip
gravitex_llm.zip-ssr
gravitex_llm
one-api
new-api
/__debug_bin*
.DS_Store
tiktoken_cache
.eslintcache
.gocache
.gomodcache/
.cache
web/bun.lock
plans

electron/node_modules
electron/dist
data/
.gomodcache/
.gocache-temp
.gopath
